<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="faena-cabecera">
<template>
    <style include="shared-styles">
     :host {
         /*display: flex;*/
         /*flex-direction: column;*/
         height: 7rem;
         overflow-y: auto ;
       }


    </style>

    <slot></slot>



</template>
<script>
    class FaenaCabecera extends Polymer.Element {
         static get is() {
                return 'faena-cabecera';
              }
    }
     window.customElements.define(FaenaCabecera.is, FaenaCabecera);

</script>

</dom-module>

