<link rel="import" href="../../../bower_components/polymer/polymer-element.html">


<link rel="import" href="../../../styles/shared-styles.html">

<dom-module id="faena-detalle">
<template>
    <style include="shared-styles">
     :host {
         padding-top: 1rem;
         display: flex;
         flex-direction: column;

         flex-grow: unset;
         height: 7rem;
         overflow-y: auto ;
         flex-shrink: unset;
       }


    </style>

    <slot></slot>



</template>
<script>
    class FaenaDEtalle extends Polymer.Element {
         static get is() {
                return 'faena-detalle';
              }
    }
     window.customElements.define(FaenaCabecera.is, FaenaCabecera);

</script>

</dom-module>

