<dom-module id="custom-select">
    <template>
        <style>
            .small{
                background-color: #ef6c00 !important;
            }
            .custom_select_width{

            }
            /*.lbl-caption{*/
                /*align-self: flex-start;*/
                /*color: var(--lumo-secondary-text-color);*/
                /*font-weight: 500;*/
                /*font-size: var(--lumo-font-size-s);*/
                /*margin-left: calc(var(--lumo-border-radius) / 4);*/
                /*transition: color 0.2s;*/
                /*line-height: 1;*/
                /*padding-top: 2px;*/
                /*padding-bottom: 0.5em;*/
                /*overflow: hidden;*/
                /*white-space: nowrap;*/
                /*text-overflow: ellipsis;*/
                /*position: relative;*/
                /*max-width: 100%;*/
                /*box-sizing: border-box;*/
            /*}*/
            .codigo{
                padding-top: 0.5em;
                height: 1.8em;
                width: 6em;
            }
        </style>
    </template>

</dom-module>

<script>
    class CustomSelect extends Polymer.Element {
        static get is() { return 'custom-select'; }
    }

    customElements.define(CustomSelect.is, CustomSelect);
</script>


<custom-style>
    <style include="custom-select">


    </style>
</custom-style>