<dom-module id="form-view">
    <template>
        <style include="lumo-color lumo-typography">
            :host([has-label]) {
                padding-top: 40px!important;

            }
            .v-form{
                /*background-color: var(--lumo-base-color);*/
                /*margin: 0.5em;*/
                display: block;
                /*padding: 1em;*/
            }
            .full-width{
                width: 100%!important;
            }
            .v-form .envolver {
                /*display: inline-flex;*/
                margin: 0;
            }

            .v-form .panel{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .v-form .content{
                padding: 0em !important;
                padding-bottom: 0.2em;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: #d0d0d0;
            }

            .v-form .header {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                padding-top: 0.2em;
                /*padding-left: --lu,;*/
                /*padding-right: $v-layout-spacing-vertical;*/

                margin-bottom: 0.4em;
                margin-top: 0.5em ;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: #d0d0d0;
            }

            .v-form .small{
            }

            .v-form .titulo{
                margin: 0 0 0.2em 0;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                border-bottom-color: #d0d0d0;

            }
        </style>
        <div class="view-form-titulo">My view title</div>
    </template>
</dom-module>

<script>
    class ViewForm extends Polymer.Element {
        static get is() { return 'form-view'; }
    }

    customElements.define(ViewForm.is, ViewForm);
</script>

<custom-style>
    <style include="form-view">


    </style>
</custom-style>

