<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">

    <persistence-unit name="sfranDB" transaction-type="JTA">
        <provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
        <jta-data-source>PostgreDS</jta-data-source>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.show_sql" value="true"/>  <!-- Permanente -->

            <!-- para crear el ddl -->
            <property name="javax.persistence.schema-generation.database.action" value="create"/>

            <property name="openjpa.jdbc.MappingDefaults" value="ForeignKeyDeleteAction=restrict,JoinForeignKeyDeleteAction=restrict"/>
            <property name="openjpa.Log" value="Enhance=TRACE, DefaultLevel=WARN, Runtime=WARN, Tool=INFO, SQL=TRACE"/>
            <property name="openjpa.MetaDataRepository" value="Preload=true"/> <!-- Permanente -->

            <property name="javax.persistence.schema-generation.scripts.create-target" value="sfran.ddl"/>
            <property name="javax.persistence.schema-generation.scripts.drop-target" value="sfranDrop.ddl"/>


            <!-- fin ddl -->
        </properties>
    </persistence-unit>
</persistence>