<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.2"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">

    <persistence-unit name="default" transaction-type="JTA">

        <provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
        <jta-data-source>jdbc/PostgreDS</jta-data-source>

        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <!--<non-jta-data-source>jdbc/sfnontjta</non-jta-data-source>-->

        <!--<validation-mode>CALLBACK</validation-mode>-->
        <!-- CALLBACK O AUTO -->
        <properties>

            <property name="hibernate.show_sql" value="true"/>

            <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
            <property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(SchemaAction='add,deleteTableContents')"/>

            <property name="openjpa.Log" value="Enhance=TRACE, DefaultLevel=WARN, Runtime=WARN, Tool=INFO, SQL=TRACE"/>



            <!--<property name="javax.persistence.schema-generation.database.action" value="create"/>  &lt;!&ndash; none create  drop-and-create drop &ndash;&gt;-->

            <!--<property name="openjpa.jdbc.SynchronizeMappings"  value="buildSchema(ForeignKeys=true)"/>-->
            <!--buildSchema-->
            <!--buildSchema(ForeignKeys=true)-->
            <!--buildSchema(SchemaAction='add,deleteTableContents')-->

            <!--<property name="openjpa.jdbc.SynchronizeMappings" value="validate"/>-->

            <!--<property name="openjpa.ConnectionURL"-->
                      <!--value="jdbc:jdbc:postgresql://127.0.0.1/sfran"/>-->
            <!--<property name="openjpa.ConnectionDriverName"-->
                      <!--value="org.postgresql.Driver"/>-->


            <property name="openjpa.MetaDataRepository" value="Preload=true"/>
        </properties>
    </persistence-unit>
</persistence>